.head-top1{
    width: 30%;
    margin-left: 3rem;
}
.head-top2{   
  margin-right: 40px;  
}
.mt-large{
    margin-top: 150px;
}
.justify{
   margin-left: 6rem;

}
.h-50{
    height: 550px;
    background-image: url('../images/study.jpg');
    
    /* background-size: cover; */
}
.card-1{
    margin-top: 150px;
    margin-bottom: 150px;
}